html
    head
        title= title
        script(src="/main.js")
        script(src="/hello.js")
        link(rel="stylesheet" href="/hello.css")
    body
        h1= message
        h1.vintage1 大家好
        img(src="/images/bs/img1.jpg")
        img(src="/images/bs/img2.jpg")
